*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  outline: 1px solid transparent;
}

html {
  font-size: clamp(7px, 1.5vw, 10px);
}

body, .helicopter__case, .helicopter__back, .helicopter__back__layer, .helicopter__back__blades, .helicopter__bottom, .helicopter__bottom__pip, .helicopter__bottom__pip-left, .helicopter__bottom__pip-right, .helicopter__body, .helicopter__body__base-top__window, .helicopter__top, .helicopter__top__blades {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.helicopter__back, .helicopter__back::before, .helicopter__back::after, .helicopter__back__layer, .helicopter__back__layer::after, .helicopter__back__blades, .helicopter__back__blades::before, .helicopter__back__blades::after, .helicopter__bottom, .helicopter__bottom__pip, .helicopter__bottom__pip::after, .helicopter__bottom__pip-left, .helicopter__bottom__pip-right, .helicopter__bottom__pip-left::before, .helicopter__bottom__pip-right::before, .helicopter__body, .helicopter__body__base, .helicopter__body__base-top, .helicopter__body__base-top__window, .helicopter__body__front, .helicopter__body__front-window, .helicopter__body__roof, .helicopter__top, .helicopter__top__blades, .helicopter__top__blades__item {
  position: absolute;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  -webkit-perspective: 70rem;
     -moz-perspective: 70rem;
          perspective: 70rem;
}

body:active .helicopter__case {
  -webkit-transform: rotateX(55deg) rotateY(10deg) rotateZ(45deg) translateZ(0);
     -moz-transform: rotateX(55deg) rotateY(10deg) rotateZ(45deg) translateZ(0);
          transform: rotateX(55deg) rotateY(10deg) rotateZ(45deg) translateZ(0);
}

body:active .helicopter__top__blades {
  --rotate: 360deg;
  -webkit-animation-duration: 0.4s;
     -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

div {
  outline: 1px solid transparent;
}

.helicopter__case {
  --size: 4rem;
  position: relative;
  width: 22rem;
  height: 10rem;
  margin-top: 5rem;
  margin-left: 15rem;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) translateZ(-5rem);
     -moz-transform: rotateX(60deg) rotateZ(45deg) translateZ(-5rem);
          transform: rotateX(60deg) rotateZ(45deg) translateZ(-5rem);
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: -o-transform .3s linear;
  -moz-transition: transform .3s linear, -moz-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear;
}

.helicopter__back {
  left: 0;
  -webkit-transform-origin: right center;
     -moz-transform-origin: right center;
      -ms-transform-origin: right center;
       -o-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translateX(-100%) translateZ(calc(var(--size) / 1.2)) rotateY(15deg);
     -moz-transform: translateX(-100%) translateZ(-moz-calc(var(--size) / 1.2)) rotateY(15deg);
          transform: translateX(-100%) translateZ(calc(var(--size) / 1.2)) rotateY(15deg);
  width: 100%;
  height: 100%;
}

.helicopter__back::before, .helicopter__back::after {
  content: "";
}

.helicopter__back::before {
  width: 100%;
  height: -moz-calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  background-color: #939393;
  -webkit-transform-origin: left bottom;
     -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  bottom: 0;
  -webkit-transform: rotateX(-90deg);
     -moz-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-clip-path: polygon(0 72%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 72%, 100% 0, 100% 100%, 0 100%);
}

.helicopter__back::after {
  width: 100%;
  height: 100%;
  background-color: #aaaaaa;
  -webkit-transform-origin: right center;
     -moz-transform-origin: right center;
      -ms-transform-origin: right center;
       -o-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translateZ(calc(var(--size) * 2)) rotateY(-15deg);
     -moz-transform: translateZ(-moz-calc(var(--size) * 2)) rotateY(-15deg);
          transform: translateZ(calc(var(--size) * 2)) rotateY(-15deg);
  -webkit-clip-path: polygon(0 72%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 72%, 100% 0, 100% 100%, 0 100%);
}

.helicopter__back__layer {
  width: 30%;
  height: 3rem;
  background-color: #939393;
  bottom: 0;
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
      -ms-transform-origin: left center;
       -o-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotateY(-120deg);
     -moz-transform: rotateY(-120deg);
          transform: rotateY(-120deg);
}

.helicopter__back__layer::after {
  content: "";
  width: 100%;
  height: -moz-calc(100% - 1px);
  height: calc(100% - 1px);
  top: 0;
  left: 0;
  background-color: #8c8c8c;
  -webkit-transform-origin: right center;
     -moz-transform-origin: right center;
      -ms-transform-origin: right center;
       -o-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotateY(-20deg);
     -moz-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}

.helicopter__back__blades {
  width: 1.2rem;
  height: 1.2rem;
  bottom: 0;
  left: 0;
  -webkit-transform: rotateX(90deg) translateY(200%) translateX(-200%) translateZ(8px);
     -moz-transform: rotateX(90deg) translateY(200%) translateX(-200%) translateZ(8px);
          transform: rotateX(90deg) translateY(200%) translateX(-200%) translateZ(8px);
}

.helicopter__back__blades::before, .helicopter__back__blades::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #242426;
  -webkit-box-shadow: 0 0 0 1.3em #c4c4c4, 0 0 0 1.8em #848484, 0 0 0 1.85em #303033;
          box-shadow: 0 0 0 1.3em #c4c4c4, 0 0 0 1.8em #848484, 0 0 0 1.85em #303033;
}

.helicopter__back__blades::before {
  -webkit-transform: translateZ(-2rem);
     -moz-transform: translateZ(-2rem);
          transform: translateZ(-2rem);
}

.helicopter__back__blades::after {
  -webkit-transform: translateZ(2rem);
     -moz-transform: translateZ(2rem);
          transform: translateZ(2rem);
}

.helicopter__bottom {
  --leg-size: 1rem;
  left: 10%;
  width: 80%;
  height: 100%;
}

.helicopter__bottom__pip {
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(4.9rem) translateZ(calc(var(--leg-size) * -1));
     -moz-transform: translateY(4.9rem) translateZ(-moz-calc(var(--leg-size) * -1));
          transform: translateY(4.9rem) translateZ(calc(var(--leg-size) * -1));
  width: 100%;
  height: var(--leg-size);
  background-color: #515151;
}

.helicopter__bottom__pip::after {
  content: "";
  top: 0;
  right: 0;
  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
      -ms-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: translateX(calc(100% - 4px)) rotateZ(-20deg);
     -moz-transform: translateX(-moz-calc(100% - 4px)) rotateZ(-20deg);
      -ms-transform: translateX(calc(100% - 4px)) rotate(-20deg);
       -o-transform: translateX(calc(100% - 4px)) rotateZ(-20deg);
          transform: translateX(calc(100% - 4px)) rotateZ(-20deg);
  width: 10%;
  height: 100%;
  background-color: #515151;
}

.helicopter__bottom__pip-left, .helicopter__bottom__pip-right {
  bottom: 0;
  -webkit-transform-origin: center top;
     -moz-transform-origin: center top;
      -ms-transform-origin: center top;
       -o-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translateY(100%) rotateX(-25deg);
     -moz-transform: translateY(100%) rotateX(-25deg);
          transform: translateY(100%) rotateX(-25deg);
  width: var(--leg-size);
  height: 2.5rem;
  background-color: #515151;
}

.helicopter__bottom__pip-left::before, .helicopter__bottom__pip-right::before {
  content: "";
  bottom: 0;
  left: 0;
  -webkit-transform-origin: center bottom;
     -moz-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
       -o-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: rotateX(135deg) translateY(1px);
     -moz-transform: rotateX(135deg) translateY(1px);
          transform: rotateX(135deg) translateY(1px);
  width: 100%;
  height: 60%;
  background-color: #515151;
}

.helicopter__bottom__pip-left {
  left: 10%;
}

.helicopter__bottom__pip-right {
  right: 30%;
}

.helicopter__body {
  inset: 0;
}

.helicopter__body__base, .helicopter__body__base-top {
  bottom: 0;
  -webkit-transform-origin: left bottom;
     -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  width: 100%;
  background-color: #515151;
}

.helicopter__body__base {
  -webkit-transform: rotateX(-90deg);
     -moz-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  height: -moz-calc(var(--size) + 1px);
  height: calc(var(--size) + 1px);
}

.helicopter__body__base-top {
  -webkit-transform: translateZ(var(--size)) rotateX(-90deg);
     -moz-transform: translateZ(var(--size)) rotateX(-90deg);
          transform: translateZ(var(--size)) rotateX(-90deg);
  height: -moz-calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  -webkit-clip-path: polygon(0 0, calc(100% - (var(--size) * 1.65)) 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, -moz-calc(100% - (var(--size) * 1.65)) 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, calc(100% - (var(--size) * 1.65)) 0, 100% 100%, 0 100%);
}

.helicopter__body__base-top__window {
  --border: 1.2rem;
  background: -webkit-linear-gradient(40deg, #3d3d40 25%, #242426 25%, #242426 40%, #3d3d40 40%, #3d3d40 55%, #242426 55%);
  background: -moz-linear-gradient(40deg, #3d3d40 25%, #242426 25%, #242426 40%, #3d3d40 40%, #3d3d40 55%, #242426 55%);
  background: -o-linear-gradient(40deg, #3d3d40 25%, #242426 25%, #242426 40%, #3d3d40 40%, #3d3d40 55%, #242426 55%);
  background: linear-gradient(50deg, #3d3d40 25%, #242426 25%, #242426 40%, #3d3d40 40%, #3d3d40 55%, #242426 55%);
  top: var(--border);
  right: var(--border);
  bottom: 0;
  left: var(--border);
  -webkit-clip-path: polygon(0 0, calc(100% - (var(--size) * 1.65)) 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, -moz-calc(100% - (var(--size) * 1.65)) 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, calc(100% - (var(--size) * 1.65)) 0, 100% 100%, 0 100%);
}

.helicopter__body__front, .helicopter__body__front-window {
  top: 0;
  right: 0;
  -webkit-transform-origin: right top;
     -moz-transform-origin: right top;
      -ms-transform-origin: right top;
       -o-transform-origin: right top;
          transform-origin: right top;
  height: 100%;
}

.helicopter__body__front {
  --sudo: 75%;
  -webkit-transform: rotateY(90deg) translateY(0.6px);
     -moz-transform: rotateY(90deg) translateY(0.6px);
          transform: rotateY(90deg) translateY(0.6px);
  width: -moz-calc(var(--size) + 1px);
  width: calc(var(--size) + 1px);
  background: -webkit-gradient(linear, left top, right top, from(#898989), to(#515151));
  background: -webkit-linear-gradient(left, #898989 var(--sudo), #515151 var(--sudo));
  background: -moz-linear-gradient(left, #898989 var(--sudo), #515151 var(--sudo));
  background: -o-linear-gradient(left, #898989 var(--sudo), #515151 var(--sudo));
  background: linear-gradient(to right, #898989 var(--sudo), #515151 var(--sudo));
}

.helicopter__body__front-window {
  -webkit-transform: translateZ(var(--size)) rotateY(50deg);
     -moz-transform: translateZ(var(--size)) rotateY(50deg);
          transform: translateZ(var(--size)) rotateY(50deg);
  width: -moz-calc(var(--size) * 2.59);
  width: calc(var(--size) * 2.59);
  background: -webkit-linear-gradient(75deg, #242426 25%, #3d3d40 25%, #3d3d40 40%, #242426 40%, #242426 55%, #3d3d40 55%);
  background: -moz-linear-gradient(75deg, #242426 25%, #3d3d40 25%, #3d3d40 40%, #242426 40%, #242426 55%, #3d3d40 55%);
  background: -o-linear-gradient(75deg, #242426 25%, #3d3d40 25%, #3d3d40 40%, #242426 40%, #242426 55%, #3d3d40 55%);
  background: linear-gradient(15deg, #242426 25%, #3d3d40 25%, #3d3d40 40%, #242426 40%, #242426 55%, #3d3d40 55%);
  border: 0.8rem solid #9e9e9e;
}

.helicopter__body__roof {
  width: -moz-calc(100% - (var(--size) * 1.66));
  width: calc(100% - (var(--size) * 1.66));
  -webkit-transform: translateZ(calc((var(--size) * 3) - 1px));
     -moz-transform: translateZ(-moz-calc((var(--size) * 3) - 1px));
          transform: translateZ(calc((var(--size) * 3) - 1px));
  height: 100%;
  background-color: #848484;
}

.helicopter__top {
  --circle: 4rem;
  --circle-gap: 0.5rem;
  top: 50%;
  left: 30%;
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(calc((var(--size) * 3) + var(--circle-gap)));
     -moz-transform: translateX(-50%) translateY(-50%) translateZ(-moz-calc((var(--size) * 3) + var(--circle-gap)));
          transform: translateX(-50%) translateY(-50%) translateZ(calc((var(--size) * 3) + var(--circle-gap)));
  width: var(--circle);
  height: var(--circle);
  background-color: #919191;
  border: 0.1rem solid #242426;
  border-radius: 50%;
}

.helicopter__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(calc(var(--circle-gap) * -1));
     -moz-transform: translateZ(-moz-calc(var(--circle-gap) * -1));
          transform: translateZ(calc(var(--circle-gap) * -1));
  width: 120%;
  height: 120%;
  background-color: #242426;
  border-radius: inherit;
}

.helicopter__top__blades {
  --rotate: 90deg;
  inset: 0;
  -webkit-transform: rotate(0) translateZ(calc((var(--circle-gap) / 2) * -1));
     -moz-transform: rotate(0) translateZ(-moz-calc((var(--circle-gap) / 2) * -1));
          transform: rotate(0) translateZ(calc((var(--circle-gap) / 2) * -1));
  -webkit-animation: round 5s linear infinite;
     -moz-animation: round 5s linear infinite;
       -o-animation: round 5s linear infinite;
          animation: round 5s linear infinite;
  will-change: transform;
}

@-webkit-keyframes round {
  100% {
    -webkit-transform: rotate(var(--rotate)) translateZ(calc((var(--circle-gap) / 2) * -1));
            transform: rotate(var(--rotate)) translateZ(calc((var(--circle-gap) / 2) * -1));
  }
}

@-moz-keyframes round {
  100% {
    -moz-transform: rotate(var(--rotate)) translateZ(-moz-calc((var(--circle-gap) / 2) * -1));
         transform: rotate(var(--rotate)) translateZ(calc((var(--circle-gap) / 2) * -1));
  }
}

@-o-keyframes round {
  100% {
    transform: rotate(var(--rotate)) translateZ(calc((var(--circle-gap) / 2) * -1));
  }
}

@keyframes round {
  100% {
    -webkit-transform: rotate(var(--rotate)) translateZ(calc((var(--circle-gap) / 2) * -1));
       -moz-transform: rotate(var(--rotate)) translateZ(-moz-calc((var(--circle-gap) / 2) * -1));
            transform: rotate(var(--rotate)) translateZ(calc((var(--circle-gap) / 2) * -1));
  }
}

.helicopter__top__blades__item {
  bottom: 50%;
  left: 50%;
  -webkit-transform-origin: left bottom;
     -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(calc(var(--i) * 90deg)) translateX(-50%) translateY(calc(var(--circle) / 2));
     -moz-transform: rotate(-moz-calc(var(--i) * 90deg)) translateX(-50%) translateY(-moz-calc(var(--circle) / 2));
      -ms-transform: rotate(calc(var(--i) * 90deg)) translateX(-50%) translateY(calc(var(--circle) / 2));
       -o-transform: rotate(calc(var(--i) * 90deg)) translateX(-50%) translateY(calc(var(--circle) / 2));
          transform: rotate(calc(var(--i) * 90deg)) translateX(-50%) translateY(calc(var(--circle) / 2));
  width: -moz-calc(var(--circle) / 1.85);
  width: calc(var(--circle) / 1.85);
  height: 20vw;
  min-height: 22rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #242426), color-stop(5%, #c4c4c4), to(#c4c4c4));
  background: -webkit-linear-gradient(top, #242426 5%, #c4c4c4 5%, #c4c4c4 100%);
  background: -moz-linear-gradient(top, #242426 5%, #c4c4c4 5%, #c4c4c4 100%);
  background: -o-linear-gradient(top, #242426 5%, #c4c4c4 5%, #c4c4c4 100%);
  background: linear-gradient(to bottom, #242426 5%, #c4c4c4 5%, #c4c4c4 100%);
}
